@import "core/styles/_assets.scss";

.footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	z-index: zi(footer);
	padding: 32px 0;
	background-color: color(white);
	@include shadow(16);
}

.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	&Image {
		display: block;
	}
	&Text {
		@include font-size(h3);
		font-weight: fw(medium);
	}
}
